/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {list-style: none;}
a {
  text-decoration: none;
  color: #444;
  font-size: 18px;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
.section_title {padding-top: 120px; text-align: center;}
.section_title h1 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 500;
}
.section_title p {font-size: 18px; font-weight: 400;}

/* main banner */
.swiper-container {
  width: 100%;
  min-width: 1200px;
  height: 100vh;
}
.swiper-button-prev, .swiper-button-next {color: #ccc;}
.swiper-pagination-bullet {
  width: 65px;
  height: 8px;
  border-radius: 0;
  display: block;
  background: #fff;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {background: #20c4f4; opacity: 1;}
.swiper-pagination {position: relative;}
.swiper-pagination > .swiper-pagination-bullet {position: absolute; bottom: 30px;}
.swiper-pagination > .swiper-pagination-bullet:first-child {left: 360px;}
.swiper-pagination > .swiper-pagination-bullet:nth-child(2) {left: 430px;}
.swiper-pagination > .swiper-pagination-bullet:nth-child(3) {left: 500px;}
.swiper-pagination > .swiper-pagination-bullet:last-child {left: 570px;}
.swiper-container .text {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}
.swiper-container .text > h1 {
  font-size: 70px;
  top: 380px;
  color: #fff;
}
.swiper-container .text > h2 {
  font-size: 20px;
  top: 330px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0px;
}
.swiper-container > .swiper-wrapper > .swiper-slide > [class*='bg'] {
  width: 100%;
  min-width: 1200px;
  height: 100vh;
}
.swiper-container > .swiper-wrapper > .swiper-slide > .bg1 {
  background-image: url('../images/bg01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-container > .swiper-wrapper > .swiper-slide > .bg2 {
  background-image: url('../images/bg02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-container > .swiper-wrapper > .swiper-slide > .bg3 {
  background-image: url('../images/bg03.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-container > .swiper-wrapper > .swiper-slide > .bg4 {
  background-image: url('../images/bg04.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* News Area */
#newsArea { width:100%; background:#fff;}
#newsArea #newsWrap{
  overflow: hidden;
  width: 1200px;
  height:70px;
  margin:0 auto;
}
#newsArea h3 {
  float:left;
  padding: 0 30px;
  line-height: 70px;
  font-size: 20px;
  font-weight: 700;
  color:#0067ac;
}
#newsArea section {
  float:left;
  height: 50px;
  margin-top: 10px;
}
#newsArea section .newsBtn {float:left; padding-top:17px;}
#newsArea section .newsBtn button {
  display:block;
  width:18px;
  height:10px;
  background:url(../images/bg_ico_newsBtn.png) 0 0 no-repeat;text-indent:-9999px;
  outline: none;
  border: none;
  cursor: pointer;
}
#newsArea section .newsBtn button.next {background-position:0 -10px}
#newsArea section .newsBtn button:hover, #newsArea section .newsBtn button:focus {background-position:0 -20px}
#newsArea section .newsBtn button.next:hover, #newsArea section .newsBtn button.next:focus {background-position:0 -30px}
#newsArea section .newsList {
  overflow:hidden;
  float:left;
  margin: 20px 0 0 30px;
  display: block;
}
#newsArea .newsList li {
  height: 30px;
}
#newsArea .newsList li a {
  overflow:hidden;
  display:block;
  width:1000px;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-weight: 400;
  color:#444;
}
#newsArea .newsList li a .subject {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
#newsArea .newsList li a .date {
  float: right;
  margin-right: 50px;
}

/* Aside menu */
#aside_menu {
  width: 80px;
  height: 420px;
  background: #0067ac;
  border-radius: 40px;
  overflow: hidden;
  position: fixed;
  top: 30%;
  right: 50px;
  z-index: 99999;
  /* outline: 1px solid red; */
}
#aside_menu .aside_menu_con {
  color: white;
  width: 100%;
  height: 120px;
  display: block;
  text-align: center;
  /* outline: 1px solid red; */
  font-size: 16px;
}
#aside_menu .aside_menu_con::after {
  content: '';
  background: rgba(255, 255, 255, 0.5);
  width: 70%;
  height: 1px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
#aside_menu .aside_menu_con:nth-child(4)::after {display: none;}
#aside_menu .aside_menu_con i {margin-top: 20px; margin-bottom: 10px; font-size: 25px;}
#aside_menu .aside_menu_con:nth-child(1) i {margin-top: 25px;}
#aside_menu .aside_menu_con:nth-child(2) i {margin-top: 32px;}
#aside_menu .aside_menu_con:nth-child(4) p {padding-top: 15px;}
.aside_show {display: block;}
.aside_hide {display: none;}


/* Best3 */
#best3_wrap {
  width: 100%;
  min-width: 1200px;
  height: 800px;
  background:#0082c9;
}
#best3 {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#best3 > .section_title {color: white;}
#best3 > .section_title > h1 {font-weight: 400;}
#best3 > .section_title > p {font-weight: 300;}
#best3 .best_list {
  margin-top: 60px;
  width: 360px;
  height: 390px;
  background: white;
  float: left;
  padding: 40px;
  margin-right: 60px;
  position: relative;
  transition-delay: .2s; 
}
#best3 .best_list:last-child {margin-right: 0;}
.best_list .best_title {
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  height: 120px;
}
.best_list > .best_left {
  float: left;
  margin-top: 70px;
  font-size: 20px;
  line-height: 40px;
  color: #444;
}
.best_list > .best_right {
  float: right;
  margin-top: 55px;
  font-size: 25px;
  font-weight: 400;
  text-align: right;
}
.best_list > .best_right p:first-child{
  color: #0067ac;
  font-size: 40px;
  line-height: 50px;
}
.best_list > .best_right .strong {
  font-size: 45px;
  font-weight: 700;
}

.best_list:after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  border-style: solid;
  width: 0;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0.4) #0082c9 #0082c9 rgba(0, 0, 0, 0.4);
  transition: border-width .2s;
}
.best_list:hover { transition-delay: .2s;}
.best_list:hover::after { border-width: 20px;}


/* Fund Info */
#fund_info {
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  /* outline: 1px solid red; */
  overflow: hidden;
}
#fund_img {
  background-image: url(../images/fund_bg_01.jpg);
  background-size: 80%;
  background-position: 50% 0%;
  transition: 1s;
  position: relative;
  z-index: -1;
}
#fund_img .fund_img_icon {
  width: 300px;
  height: 200px;
  /* outline: 1px solid green; */
  position: absolute;
  right: 50px;
  top: 170px;
  z-index: 1;
  background: url(../images/fund_list_01.png);
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}
#fund_img p {
  font-family: 'Kanit', sans-serif;
  font-size: 300px;
  text-align: center;
  line-height: 330px;
  mix-blend-mode: screen;
  background: white;
}
#fund_info .fund_list {
  margin-top: 60px;
  float: left;
  width: 200px;
  height: 55px;
  border: 1px solid #ccc;
  margin-right: 50px;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
#fund_info .fund_list.on {
  background: #0067ac;
  color: white;
}
#fund_info > div.fund_list:nth-child(7) { margin-right: 0px;}
#fund_info > #fund_detail {
  clear: both;
  width: 100%;
  text-align: center;
  height: 170px;
  position: relative;
  /* outline: 1px solid red; */
}
#fund_info > #fund_detail p {
  font-size: 18px;
  line-height: 35px;
  transform: translate(0, -50%);
  top: 50%;
}
#fund_info #more {
  width: 200px;
  height: 55px;
  /* border: 1px solid #444; */
  /* outline: 1px solid red; */
  margin: 0 auto;
  line-height: 55px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  display: block;
  position: relative;
  /* transition: 0.4s; */
}
#fund_info #more::after {
  content: '';
  border: 1px solid #444;
  border-width: 0px;
  width: 200px;
  height: 55px;
  position: absolute;
  top: 0;
  display: block;
  transition: border-width 0.2s;
}
/* #fund_info #more:hover {transition-delay: 0.2s;} */
#fund_info #more:hover::after {
  border-width: 1px;  
  transition: border-width 0.2s;
}
/* #fund_info #more:hover {
  background:#0082c9;
  color: white;
  transition: 0.4s;
  border: 1px solid #0082c9;
} */
.fund_detail {
  clear: both;
  display: block;
  position: absolute;
  width:100%;
  transition: 0.8s;
  opacity: 0;
}
.show_fund_details{
  opacity: 1;
}


/* Fund registration */
#fund_registration_wrap {
  width: 100%;
  height: 880px;
  background-image: linear-gradient(rgba(221, 247, 255, 0.9), rgba(221, 247, 255, 0.9)), url(../images/registration_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#fund_registration {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#reg_contents_wrap {
  width: 100%;
  height: 601px;
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.reg_contents {
  float: left;
  display: block;
  width: 380px;
  height: 285px;
  border: 1px solid #0067ac;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
}
.reg_contents:nth-child(3n) {margin-right: 0;}
.reg_contents:nth-child(4) {margin-bottom: 0;}
.reg_contents:nth-child(5) {margin-bottom: 0;}
.reg_contents:nth-child(6) {margin-bottom: 0;}
.reg_contents > h3 {
  font-size: 25px;
  color: #0067ac;
  margin-bottom: 20px;
  font-weight: 500;
}
.reg_contents > p {line-height: 30px;}
.reg_contents > .reg_icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 85px;
  color: #0082c9;
}
.reg_contents:first-child {border: none; padding: 0;}
.reg_contents:first-child > h1 {
  font-size: 35px;
  margin-bottom: 33px;
  font-weight: 500;
  color: #0067ac;
}
.reg_contents:first-child > p {
  font-size: 18px;
  color: #444;
  width: 330px;
  line-height: 40px;
  font-weight: 400;
}
.reg_contents.hover:hover h3, .reg_contents.hover:hover p, .reg_contents.hover:hover i{color: white;}
.reg_contents.hover:hover h3 {font-weight: 400;}
.reg_contents:nth-child(2):hover{background-image: linear-gradient(rgba(0, 130, 201, 0.9), rgba(0, 130, 201, 0.9)), url(../images/reg_contents_bg_01.jpg);}
.reg_contents:nth-child(3):hover{background-image: linear-gradient(rgba(0, 130, 201, 0.85), rgba(0, 130, 201, 0.85)), url(../images/reg_contents_bg_02.jpg);}
.reg_contents:nth-child(4):hover{background-image: linear-gradient(rgba(0, 130, 201, 0.9), rgba(0, 130, 201, 0.9)), url(../images/reg_contents_bg_03.jpg);}
.reg_contents:nth-child(5):hover{background-image: linear-gradient(rgba(0, 130, 201, 0.9), rgba(0, 130, 201, 0.9)), url(../images/reg_contents_bg_04.jpg);}
.reg_contents:nth-child(6):hover{background-image: linear-gradient(rgba(0, 130, 201, 0.9), rgba(0, 130, 201, 0.9)), url(../images/reg_contents_bg_05.jpg);}


/* Management philosophy */
#care_wrap {
  width: 100%;
  height: 1000px;
  background: #0e4c9f;
  display: inline-table;
}
#care {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../images/sliderGalbg.png);
  background-repeat: no-repeat;
  background-position: center 270px;
  position: relative;
  padding: 0 170px;
  overflow: hidden;
  /* outline: 1px solid red; */
}
#care .section_title {color: white;}
#care .section_title > h1 {font-weight: 400;}
#care .section_title > p {font-weight: 300;}
#care #care_slider {height: 620px;}
#care #care_slider_bg {
  padding-top: 0; 
  position: relative; 
  width: 100%; 
  margin: 0 auto;
}
#care #care_slider_circle_wrap {
  width: 100%; 
  top: 65px;
  position: absolute; 
  height: 620px;
}
#care #care_slider_bg #care_slider_circle_wrap div {position: absolute;width: 400px;}
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(2n-1) img {position: absolute; right: 0; top: 0;}
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(2n) img {position: absolute; left: 0; top: 0;}
#care #care_slider_bg #care_slider_circle_wrap div a.slide_btn {
  width: 430px;
  height: 200px;
  padding: 0; 
  background: transparent; 
  transition: all 0.4s; 
  cursor: pointer;
}
#care #care_slider_bg #care_slider_circle_wrap div p {text-align: center;}
#care #care_slider_bg #care_slider_circle_wrap div:first-child {top: 50px; left: -138px;}
#care #care_slider_bg #care_slider_circle_wrap div:first-child a.slide_btn {position: absolute; right: 0; top: 0;}
#care #care_slider_bg #care_slider_circle_wrap div:first-child p.care_text {padding-right: 130px;}
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(2) {top: 50px; right: -138px;}
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(2) a.slide_btn {position: absolute; left: 0; top: 0;} 
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(2) p.care_text {padding-left: 100px;}
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(3) {bottom: 27px; left: -135px;}
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(3) a.slide_btn {position: absolute; right: 0; top: 0;}
#care #care_slider_bg #care_slider_circle_wrap div:nth-child(3) p.care_text {padding-right: 100px;}
#care #care_slider_bg #care_slider_circle_wrap div:last-child {bottom: 27px; right: -135px;}
#care #care_slider_bg #care_slider_circle_wrap div:last-child a.slide_btn {position: absolute; left: 0; top: 0;} 
#care #care_slider_bg #care_slider_circle_wrap div:last-child {padding-left: 100px;}
#care #care_slider_bg #care_slider_circle_wrap .care_text .care_title {display: block; color: #a3b9d6; font-size: 25px; margin-top: 70px; font-weight: 400;}
#care #care_slider_bg #care_slider_circle_wrap .care_text .care_subtext {display: block; color: #a3b9d6; font-size: 18px; margin-top: 20px; line-height: 30px;}
#care #care_slider_bg #care_slider_circle_wrap .care_text .care_title .strong {color: white;}
#care > #center_txt {
  text-align: center;
  color: white;
  font-size: 45px;
  line-height: 60px;
  position: relative;
  top: -36%;
}
#care > #center_txt .strong {font-weight: 700; font-size: 55px;}


/* Notice */
#notice {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
#notice > .notice_contents {
  float: left;
  width: 575px;
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
  margin-right: 50px;
  color: #444;
}
#notice > .notice_contents:last-child{margin-right: 0;}
#notice > .notice_contents > .notice_title > h2 {font-weight: 500; font-size: 25px; float: left;}
#notice > .notice_contents > .notice_title > a {float: right; font-weight: 400;}
#notice > .notice_contents > .notice_title {margin-bottom: 60px;}
#notice > .notice_contents > ul {clear: both; margin-top: 30px; border: 1px solid #ccc;}
#notice > .notice_contents > ul li { 
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}
#notice > .notice_contents > ul li:last-child {border: none;}
#notice > .notice_contents > ul li .date {float: right; color: #888; font-size: 17px;}
#notice > .notice_contents > ul li a {display: block; letter-spacing: 0.3px;}

/* Bottom Banner */
#bottom_banner {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 103, 172, 0.85),rgba(0, 103, 172, 0.8)), url(../images/bottom_banner_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#bottom_banner_txt {
  color: white;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
}
#bottom_banner_txt > h2 {
  font-weight: 300;
  font-size: 30px;
}
#bottom_banner_txt > h1 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 25px;
}
#bottom_banner_txt > p {
  font-size: 20px;
  line-height: 35px;
}


/* Consulting Number */
#consulting_wrap {
  width: 100%; height: 100px;
  background: #e0e0e0;
}
#consulting_num { 
  width: 1200px;
  margin: 0 auto; 
  overflow: hidden;
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
}
#consulting_num > h2:first-child {
  float: left;
  font-size: 25px;
  font-weight: 500;
  color: #444;
}
#consulting_num > h2:last-child  {
  float: right;
  font-size: 30px;
  color: #0067ac;
}