<!-- Footer -->
<footer id="main_footer">
    <div id="footer_top">
    <div class="footer_contents">
        <ul>
        <li><a href="#">스튜어드십 코드</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="#" class="strong">개인정보처리방침</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="#">신용정보활용체제</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="#">이메일주소 무단수집거부</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="#">서민금융1332서비스</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="#">금융감독원</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="#">전자공시시스템</a></li>
        </ul>
    </div>
    </div>
    <div id="footer_bottom">
    <div class="footer_contents">
        <div id="footer_logo"><img src="./images/footer_logo.png" alt="우리자산운용"></div>        
        <div id="footer_txt">
        <ul id="footer_info">
            <li>07325, 서울시 영등포구 국제금융로2길 32 여의도파이낸스타워 6/7층</li>
            <li>TEL : 02.3770.1300&nbsp;&nbsp; | &nbsp;&nbsp;FAX : 02.3770.1307</li>
        </ul>
        <ul id="footer_detail">
            <li>&middot; 집합투자증권은 운용결과에 따라 투자원금의 손실이 발생할 수 있으며, 그 손실은 투자자에게 귀속됩니다.</li>
            <li>&middot; 가입하시기 전에 (간이)투자설명서를 반드시 읽어보시기 바랍니다.</li>
            <li>&middot; 과거의 운용실적이 미래의 수익을 보장하는 것은 아닙니다.</li>
            <li>&middot; 외국 통화를 기준으로 하는 해외투자상품에의 투자는 환율변동에 의하여도 원본손실이 발생할 수 있다는점에 유의하시기 바랍니다.</li>
        </ul>
        <p class="copyright">COPYRIGHT&copy; 2008 WOORI ASSET MANAGEMENT CO.LTD.ALL RIGHTS RESERVED.</p>
        </div>
        <div id="family_site">
        <a href="javascript:" class="btn"><span>FAMILY SITE</span></a>
        <div class="site_list">
            <a href="http://wooribank.com" class="abbr" target="_blank">우리은행</a>
            <a href="http://wooricard.com" class="abbr" target="_blank">우리카드</a>
            <a href="https://www.woorifg.com/" class="abbr" target="_blank">우리금융그룹</a>
            <a href="http://www.wooriib.com" class="abbr" target="_blank">우리종합금융</a>
            <a href="http://www.woorifis.com" class="abbr" target="_blank">우리FIS</a>
            <a href="http://www.wfri.re.kr" class="abbr" target="_blank">우리금융경영연구소</a>
            <a href="http://www.wooricredit.com" class="abbr" target="_blank">우리신용정보</a>
            <a href="http://www.woorifs.co.kr" class="abbr" target="_blank">우리펀드서비스</a>
            <a href="http://www.wooriat.com/" class="abbr" target="_blank">우리자산신탁</a>
            <a href="http://www.wooriglobalam.com" class="abbr" target="_blank">우리글로벌자산운용</a>
        </div>
        </div>
        <div id="footer_sns">
            <a href="https://www.facebook.com/wooriam.kr/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/channel/UCP-lbyZgKzSe7Pv91Z_jONg/featured" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    </div>        
</footer>