  <!-- Header -->
    <div id="header_bg"></div>
    <header id="main_header">
      <h1 class="header_logo"><a href="./">우리자산운용</a></h1>
      <nav id="gnb">
        <ul class="depth1">
          <li><a href="./sub1_1.html">펀드안내</a>
            <ul class="depth2">
              <li><a href="./sub1_1.html">대표펀드</a></li>
              <li><a href="./sub1_1.html">유형별펀드</a></li>
              <li><a href="./sub1_1.html">기준가/수익율</a></li>
              <li><a href="./sub1_1.html">가입안내</a></li>
            </ul>
          </li>
          <li><a href="#">펀드아카데미</a>
            <ul class="depth2">
              <li><a href="#">투자신탁의 이해</a></li>
              <li><a href="#">알기쉬운 금융시장</a></li>
              <li><a href="#">시장동향&분석</a></li>
            </ul>
          </li>
          <li><a href="#">고객지원센터</a>
            <ul class="depth2">
              <li><a href="#">공시</a></li>
              <li><a href="#">운용보고서</a></li>
              <li><a href="#">판매계약서</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Q&A</a></li>
            </ul>
          </li>
          <li><a href="./sub4_1.html">회사소개</a>
            <ul class="depth2">
              <li><a href="./sub4_1.html">CEO인사말</a></li>
              <li><a href="#history">회사개요</a></li>
              <li><a href="#care">운용시스템</a></li>
              <li><a href="./sub4_4.html">오시는 길</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="language_box">
        <a href="javascript:" class="btn_language"><span>KOR</span></a>
        <div class="language_list">
          <a href="#">ENG</a>
          <a href="#">CHN</a>
          <a href="#">JPN</a>
        </div>
      </div>
      <div id="menu_opener">
        <a href="javascript:;" role="button">
          <span class="menu_line" role="image"></span>
          <span class="menu_line" role="image"></span>
          <span class="menu_line" role="image"></span>
        </a>
      </div>
    </header>